<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <link rel="stylesheet" href="https://stackpath.bootstrapcdn.com/bootstrap/4.5.0/css/bootstrap.min.css">
    <title>Авторизация</title>
</head>
<body>
<h3 class="box">Войти</h3>

{% with messages = get_flashed_messages() %}
  {% if messages %}
    <ul class=flashes>
    {% for message in messages %}
      <li>{{ message }}</li>
    {% endfor %}
    </ul>
  {% endif %}
{% endwith %}

<form method="post" class="center">
    <table>
        <tr class="group">
            <td>Логин</td>
            <td><input type="text" name="login" placeholder="Введите логин"></td>
        </tr>
        <tr class="group">
            <td>Пароль</td>
            <td><input type="password" name="password" placeholder="Введите пароль"></td>
        </tr>
        <tr class="group">
            <td><a href="{{ url_for('register') }}" class="btn btn-danger">Регистрация</a></td>
            <td><input type="submit" value="Вход" class="btn btn-success"></td>
        </tr>
    </table>
</form>
</body>
</html>