{% extends 'base.html' %}

{% block title %}
Добавить сообщение
{% endblock %}

{% block body %}
<div class="container mt-5">
    <h1>Добавление сообщения</h1>
    <form method="post">
        <input type="text" name="title" id="title" class="form-controle" placeholder="Введите название"><br>
        <textarea name="text" id="text" class="form-controle" placeholder="Введите текст сообщения"></textarea><br>
        <input type="submit" class="btn btn-info" value="Отправить"><br>
    </form>
</div>
{% endblock %}