{% extends 'base.html' %}

{% block title %}
Все сообщения в блоге
{% endblock %}

{% block body %}
<div class="container mt-5">
    <h1>Все сообщения в блоге</h1>
    {% if articles|length > 0 %}
        {% for el in articles %}
        <div class="alert alert-success">
            <h2>{{ el.title }}</h2>
            <p>{{ el.text}}</p>
            <p><b>Дата: {{ el.date.date() }}</b></p>
        <a href="/posts/{{ el.id }}/delete" class="btn btn-warning">Удалить</a>
        <a href="/posts/{{ el.id }}/update" class="btn btn-info">Редактировать</a>
        </div>
        {% endfor %}
    {% else %}
        <p>У нас ещё нет сообщений в блоге</p>
    {% endif %}
</div>
{% endblock %}